In [ ]:
import numpy as np
import pandas as pd
from scipy import stats

import matplotlib.pyplot as plt
from matplotlib import ticker
%matplotlib inline
import seaborn as sns
plt.style.use('seaborn-notebook')
from yellowbrick.regressor import ResidualsPlot

import statsmodels.api as sm
from statsmodels.api import OLS

from sklearn.dummy import DummyRegressor
from sklearn.pipeline import make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.preprocessing import PolynomialFeatures, StandardScaler, OrdinalEncoder, OneHotEncoder

# For mapping visuals
import folium
KC_coord = (47.4081,-121.9949)
Seattle_coord = (47.6062,-122.3321)

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings(action='ignore')
import matplotlib.pyplot as plt
from matplotlib import ticker
from yellowbrick.regressor import ResidualsPlot
import statsmodels.api as sm
from statsmodels.api import OLS

# SciKitLearn 
from sklearn.model_selection import train_test_split
from sklearn.dummy import DummyRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler, PolynomialFeatures, OrdinalEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

# For mapping visuals
import folium
KC_coord = (47.4081,-121.9949)
Seattle_coord = (47.6062,-122.3321)

In [ ]:
import numpy as np
import pandas as pd
from scipy import stats
import math
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn-notebook')

import statsmodels.api as sm

from sklearn.preprocessing import PolynomialFeatures, StandardScaler, OrdinalEncoder, OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error

%matplotlib inline

In [1]:
import numpy as np
import pandas as pd
import matplotlib

## Merging Data

In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
table1 = pd.DataFrame({"P_ID" : (1,2,3,4,5,6,7,8),
                     "gender" : ("male", "male", "female","female",
                                "female", "male", "female", "male"),
                     "height" : (71,73,64,64,66,69,62,72),
                     "weight" : (175,225,130,125,165,160,115,250)})

table1

   P_ID  gender  height  weight
0     1    male      71     175
1     2    male      73     225
2     3  female      64     130
3     4  female      64     125
4     5  female      66     165
5     6    male      69     160
6     7  female      62     115
7     8    male      72     250

In [4]:
table2 = pd.DataFrame({"P_ID" : (1, 2, 4, 5, 7, 8, 9, 10),
                     "sex" : ("male", "male", "female","female",
                            "female", "male", "male", "female"),
                     "visits" : (1,2,4,12,2,2,1,1),
                     "checkup" : (1,1,1,1,1,1,0,0),
                     "follow_up" : (0,0,1,2,0,0,0,0),
                     "illness" : (0,0,2,7,1,1,0,0),
                     "surgery" : (0,0,0,2,0,0,0,0),
                     "ER" : ( 0,1,0,0,0,0,1,1) } ) 

table2

   P_ID     sex  visits  checkup  follow_up  illness  surgery  ER
0     1    male       1        1          0        0        0   0
1     2    male       2        1          0        0        0   1
2     4  female       4        1          1        2        0   0
3     5  female      12        1          2        7        2   0
4     7  female       2        1          0        1        0   0
5     8    male       2        1          0        1        0   0
6     9    male       1        0          0        0        0   1
7    10  female       1        0          0        0        0   1

Both data frames contain the column "P_ID" but the other columns are different. A unique identifier like an ID is usually a good key for joining two data frames together. You can combine two data frames by a common column with merge():

In [5]:
combined1 = pd.merge(table1,       # First table
                    table2,        # Second table
                    how="inner",   # Merge method
                    on="P_ID")     # Column(s) to join on

combined1

,P_ID,gender,height,weight,sex,visits,checkup,follow_up,illness,surgery,ER
0,1,male,71,175,male,1,1,0,0,0,0
1,2,male,73,225,male,2,1,0,0,0,1
2,4,female,64,125,female,4,1,1,2,0,0
3,5,female,66,165,female,12,1,2,7,2,0
4,7,female,62,115,female,2,1,0,1,0,0
5,8,male,72,250,male,2,1,0,1,0,0

Note that inside the merge function we set the argument "how" to "inner". An inner join only merges records that appear in both columns used for the join. Since patients 3 and 6 only appear in table1 and patients 9 and 10 only appear in table2, those four patients were dropped when we merged the tables together.

 Note that inside the merge function we set the argument "how" to "inner". An inner join only merges records that appear in both columns used for the join. Since patients 3 and 6 only appear in table1 and patients 9 and 10 only appear in table2, those four patients were dropped when we merged the tables together.

In [6]:
# A left join keeps all key values in the first(left) data frame

left_join = pd.merge(table1,       # First table
                    table2,        # Second table
                    how="left",   # Merge method
                    on="P_ID")     # Column(s) to join on

left_join

,P_ID,gender,height,weight,sex,visits,checkup,follow_up,illness,surgery,ER
0,1,male,71,175,male,1.0,1.0,0.0,0.0,0.0,0.0
1,2,male,73,225,male,2.0,1.0,0.0,0.0,0.0,1.0
2,3,female,64,130,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,female,64,125,female,4.0,1.0,1.0,2.0,0.0,0.0
4,5,female,66,165,female,12.0,1.0,2.0,7.0,2.0,0.0
5,6,male,69,160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,female,62,115,female,2.0,1.0,0.0,1.0,0.0,0.0
7,8,male,72,250,male,2.0,1.0,0.0,1.0,0.0,0.0

In [7]:
# A right join keeps all key values in the second(right) data frame

right_join = pd.merge(table1,       # First table
                    table2,        # Second table
                    how="right",   # Merge method
                    on="P_ID")     # Column(s) to join on

right_join

,P_ID,gender,height,weight,sex,visits,checkup,follow_up,illness,surgery,ER
0,1,male,71.0,175.0,male,1,1,0,0,0,0
1,2,male,73.0,225.0,male,2,1,0,0,0,1
2,4,female,64.0,125.0,female,4,1,1,2,0,0
3,5,female,66.0,165.0,female,12,1,2,7,2,0
4,7,female,62.0,115.0,female,2,1,0,1,0,0
5,8,male,72.0,250.0,male,2,1,0,1,0,0
6,9,NaN,NaN,NaN,male,1,0,0,0,0,1
7,10,NaN,NaN,NaN,female,1,0,0,0,0,1

In [8]:
# An outer join keeps all key values in both data frames

outer_join = pd.merge(table1,      # First table
                    table2,        # Second table
                    how="outer",   # Merge method
                    on="P_ID")     # Column(s) to join on

outer_join

,P_ID,gender,height,weight,sex,visits,checkup,follow_up,illness,surgery,ER
0,1,male,71.0,175.0,male,1.0,1.0,0.0,0.0,0.0,0.0
1,2,male,73.0,225.0,male,2.0,1.0,0.0,0.0,0.0,1.0
2,3,female,64.0,130.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,female,64.0,125.0,female,4.0,1.0,1.0,2.0,0.0,0.0
4,5,female,66.0,165.0,female,12.0,1.0,2.0,7.0,2.0,0.0
5,6,male,69.0,160.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,female,62.0,115.0,female,2.0,1.0,0.0,1.0,0.0,0.0
7,8,male,72.0,250.0,male,2.0,1.0,0.0,1.0,0.0,0.0
8,9,NaN,NaN,NaN,male,1.0,0.0,0.0,0.0,0.0,1.0
9,10,NaN,NaN,NaN,female,1.0,0.0,0.0,0.0,0.0,1.0

The two data frames contain a second column in common. The first table contains the column "gender" while the second contains the column "sex", both of which record the same information. We can solve this issue by first renaming one of the two columns so that their names are the same and then supplying that column's name as a second column to merge upon:

In [9]:
table1.rename(columns={"gender":"sex"}, inplace=True) # Rename "gender" column

combined2 = pd.merge(table1,               # First data frame
                  table2,                  # Second data frame
                  how="outer",             # Merge method
                  on=["P_ID","sex"])    # Column(s) to join on

combined2

,P_ID,sex,height,weight,visits,checkup,follow_up,illness,surgery,ER
0,1,male,71.0,175.0,1.0,1.0,0.0,0.0,0.0,0.0
1,2,male,73.0,225.0,2.0,1.0,0.0,0.0,0.0,1.0
2,3,female,64.0,130.0,NaN,NaN,NaN,NaN,NaN,NaN
3,4,female,64.0,125.0,4.0,1.0,1.0,2.0,0.0,0.0
4,5,female,66.0,165.0,12.0,1.0,2.0,7.0,2.0,0.0
5,6,male,69.0,160.0,NaN,NaN,NaN,NaN,NaN,NaN
6,7,female,62.0,115.0,2.0,1.0,0.0,1.0,0.0,0.0
7,8,male,72.0,250.0,2.0,1.0,0.0,1.0,0.0,0.0
8,9,male,NaN,NaN,1.0,0.0,0.0,0.0,0.0,1.0
9,10,female,NaN,NaN,1.0,0.0,0.0,0.0,0.0,1.0

By renaming and merging on the sex column, we've managed to eliminate some NA values in the outer join. Although an outer joins can introduce NA values, they can also be helpful for discovering patterns in the data. For example, in our combined data, notice that the two patients who did not have values listed for height and weight only made visits to the ER. It could be that the hospital did not have patients 9 and 10 on record previously and that it does not take height and weight measurements for ER visits. Using the same type of intuition, it could be that patients 3 and 6 have height and weight measurements on file from visits in the past, but perhaps they did not visit the hospital during the time period for which the visit data was collected.

## Frequency Tables

By renaming and merging on the sex column, we've managed to eliminate some NA values in the outer join. Although an outer joins can introduce NA values, they can also be helpful for discovering patterns in the data. For example, in our combined data, notice that the two patients who did not have values listed for height and weight only made visits to the ER. It could be that the hospital did not have patients 9 and 10 on record previously and that it does not take height and weight measurements for ER visits. Using the same type of intuition, it could be that patients 3 and 6 have height and weight measurements on file from visits in the past, but perhaps they did not visit the hospital during the time period for which the visit data was collected.

In [10]:
titanic_train = pd.read_csv("../input/train.csv")      # Read the data

char_cabin = titanic_train["Cabin"].astype(str)    # Convert cabin to str

new_Cabin = np.array([cabin[0] for cabin in char_cabin]) # Take first letter

titanic_train["Cabin"] = pd.Categorical(new_Cabin)  # Save the new cabin var

FileNotFoundError: [Errno 2] No such file or directory: '../input/train.csv'

### One-Way Tables

Create frequency tables (also known as crosstabs) in pandas using the pd.crosstab() function. The function takes one or more array-like objects as indexes or columns and then constructs a new DataFrame of variable counts based on the supplied arrays. Let's make a one-way table of the survived variable:

In [ ]:
my_tab = pd.crosstab(index=titanic_train["Survived"],  # Make a crosstab
                     columns="count")                  # Name the count column

my_tab

In [ ]:
type(my_tab)             # Confirm that the crosstab is a DataFrame

In [ ]:
# more crosstabs to explore other variables:

pd.crosstab(index=titanic_train["Pclass"],  # Make a crosstab
            columns="count")                # Name the count column

In [ ]:
pd.crosstab(index=titanic_train["Sex"],     # Make a crosstab
                      columns="count")      # Name the count column

In [ ]:
cabin_tab = pd.crosstab(index=titanic_train["Cabin"],  # Make a crosstab
                        columns="count")               # Name the count column

cabin_tab

In [ ]:
# .value_counts() function to on a pandas series (a single column) to check its counts:
titanic_train.Sex.value_counts()

useful insight: we immediately get a sense of distribution of records across the categories. For instance, we see that males outnumbered females by a significant margin and that there were more third class passengers than first and second class passengers combined
If you pass a variable with many unique values to table(), such a numeric variable, it will still produce a table of counts for each unique value, but the counts may not be particularly meaningful.

In [ ]:
print (cabin_tab.sum(), "\n")   # Sum the counts

print (cabin_tab.shape, "\n")   # Check number of rows and cols

cabin_tab.iloc[1:7]             # Slice rows 1-6 # this allows us to remove the last now with all the NONE values

One of the most useful aspects of frequency tables is that they allow you to extract the proportion of the data that belongs to each category. With a one-way table, you can do this by dividing each table value by the total number of records in the table:

In [ ]:
cabin_tab/cabin_tab.sum() # proportions

## Two-Way Tables

Two-way frequency tables, also called contingency tables, are tables of counts with two dimensions where each dimension is a different variable. 
Two-way tables can give you insight into the relationship between two variables. 
To create a two way table, pass two variables to the pd.crosstab() function instead of one:

In [ ]:
# Table of survival vs. sex
survived_sex = pd.crosstab(index=titanic_train["Survived"], 
                           columns=titanic_train["Sex"])

survived_sex.index= ["died","survived"]

survived_sex

In [ ]:
# Table of survival vs. sex
survived_sex = pd.crosstab(index=titanic_train["Survived"], 
                           columns=titanic_train["Sex"])

survived_sex.index= ["died","survived"]

survived_sex

###### You can get the marginal counts (totals for each row and column) by including the argument margins=True:

In [ ]:
# Table of survival vs passenger class
survived_class = pd.crosstab(index=titanic_train["Survived"], 
                            columns=titanic_train["Pclass"],
                             margins=True)   # Include row and column totals

survived_class.columns = ["class1","class2","class3","rowtotal"]
survived_class.index= ["died","survived","coltotal"]

survived_class

In [ ]:
To get the total proportion of counts in each cell, divide the table by the grand total:

In [ ]:
survived_class/survived_class.loc["coltotal","rowtotal"] # could have also done this by simply dividing my thier total: 891

In [ ]:
To get the proportion of counts along each column (in this case, the survival rate within each passenger class) divide by the column totals:

In [ ]:
survived_class/survived_class.loc["coltotal"]

In [ ]:
To get the proportion of counts along each row divide by the row totals. The division operator functions on a row-by-row basis when used on DataFrames by default. In this case we want to divide each column by the rowtotals column. To get division to work on a column by column basis, use df.div() with the axis set to 0:

In [ ]:
survived_class.div(survived_class["rowtotal"],
                   axis=0)

# you can say arguments like of the people who died 67%. of them were from class 3

In [ ]:
Alternatively, you can transpose the table with df.T to swap rows and columns and perform row by row division as normal:

In [ ]:
survived_class.T/survived_class["rowtotal"]

### Higher Dimensional Tables

The crosstab() function lets you create tables out of more than two categories. Higher dimensional tables can be a little confusing to look at, but they can also yield finer-grained insight into interactions between multiple variables. Let's create a 3-way t

In [ ]:
surv_sex_class = pd.crosstab(index=titanic_train["Survived"], 
                             columns=[titanic_train["Pclass"],
                                      titanic_train["Sex"]],
                             margins=True)   # Include row and column totals

surv_sex_class

In [ ]:
Notice that by passing a second variable to the columns argument, the resulting table has columns categorized by both Pclass and Sex. The outermost index (Pclass) returns sections of the table instead of individual columns:

In [ ]:
surv_sex_class[2]        # Get the subtable under Pclass 2

In [ ]:
The secondary column index, Sex, can't be used as a top level index, but it can be used within a given Pclass:

In [ ]:
surv_sex_class[2]["female"]   # Get female column within Pclass 2

In [ ]:
Due to the convenient hierarchical structure of the table, we still use one division to get the proportion of survival across each column:

In [ ]:
surv_sex_class/surv_sex_class.loc["All"]    # Divide by column totals

Here we see something quite interesting: over 90% of women in first class and second class survived, but only 50% of women in third class survived. Men in first class also survived at a greater rate than men in lower classes. Passenger class seems to have a significant impact on survival, so it would likely be useful to include as a feature in a predictive model.

Frequency tables are a simple yet effective tool for exploring relationships between variables that take on few unique values. Tables do, however, require you to inspect numerical values and proportions closely and it is not always easy to quickly convey insights drawn from tables to others. Creating plots is a way to visually investigate data, which takes advantage of our innate ability to process and detect patterns in images.

## Plotting With Pandas

In [ ]:
import numpy as np
import pandas as pd
import matplotlib

In [ ]:
Visualizations are one of the most powerful tools at your disposal for exploring data and communicating data insights. The pandas library includes basic plotting capabilities that let you create a variety of plots from DataFrames. Plots in pandas are built on top of a popular Python plotting library called matplotlib, which comes with the Anaconda Python distribution.

Let's start by loading some packages, as well as a "Diamonds" data set which we'll use as a sample data set for plotting:

In [ ]:
diamonds = pd.read_csv("../input/diamonds/diamonds.csv")
diamonds = diamonds.drop("Unnamed: 0", axis=1)

print(diamonds.shape)        # Check data shape

diamonds.head(5)

In [ ]:
The output shows that data set contains 10 features of 53940 different diamonds, including both numeric and categorical variables.

In [ ]:
### Histograms

In [ ]:
A histogram is a univariate plot (a plot that displays one variable) that groups a numeric variable into bins and displays the number of observations that fall within each bin. A histogram is a useful tool for getting a sense of the distribution of a numeric variable. Let's create a histogram of diamond carat weight with the df.hist() function:

In [ ]:
diamonds.hist(column="carat",        # Column to plot
              figsize=(8,8),         # Plot size
              color="blue");         # Plot color

In [ ]:
We see immediately that the carat weights are positively skewed: most diamonds are around 1 carat or below but there are extreme cases of larger diamonds.

The plot above has fairly wide bins and there doesn't appear to be any data beyond a carat size of 3.5. We can make try to get more out of hour histogram by adding some additional arguments to control the size of the bins and limits of the x-axis:

In [ ]:
diamonds.hist(column="carat",        # Column to plot
              figsize=(8,8),         # Plot size
              color="blue",          # Plot color
              bins=50,               # Use 50 bins
              range= (0,3.5));       # Limit x-axis range

In [ ]:
This histogram gives us a better sense of some subtleties within the distribution, but we can't be sure that it contains all the data. Limiting the X-axis to 3.5 might have cut out some outliers with counts so small that they didn't show up as bars on our original chart. Let's check to see if any diamonds are larger than 3.5 carats:

In [ ]:
diamonds[diamonds["carat"] > 3.5]

In [ ]:
len(diamonds[diamonds["carat"] > 3.5])

In [ ]:
It turns out that 9 diamonds are bigger than 3.5 carats. Should cutting these diamonds out concern us? On one hand, these outliers have very little bearing on the shape of the distribution. On the other hand, limiting the X-axis to 3.5 implies that no data lies beyond that point. For our own exploratory purposes this is not an issue but if we were to show this plot to someone else, it could be misleading. Including a note that 9 diamonds lie beyond the chart range could be helpful.

### Boxplots

### Descriptive Statistics

In [ ]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Probability Distributions

Probability measures how likely it is for an event to occur on a scale from 0 (the event never occurs) to 1 (the event always occurs). When working with data, variables in the columns of the data set can be thought of as random variables: variables that vary due to chance. A probability distribution describes how a random variable is distributed; it tells us which values a random variable is most likely to take on and which values are less likely.